.wrapper{
  // transform: translate(-50%, -50%);
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 200px;
}

.input{
  height: 2rem !important;
  margin: auto !important;
}

.inputWrapper{
  margin: 5px;
}
