.wrapper {
  // transform: translate(-50%, -50%);
  position: fixed;
  bottom: 15%;
  right: 2%;
  height: 88px;
  display: inline-block;
}

.input {
  display: inline-block;
  padding: 0px;
  margin-right: 24px;
}

.error {
  color: red;
  margin-right: 10px;
}
