/* Color variables */
/* Error */
$error-color-darkest: #650000;
$error-color-dark: #870505;
$error-color: #aa3939;
$error-color-light: #cc8181;

/* Success */
$success-color-darkest: #2e5b00;
$success-color-dark: #407a04;
$success-color: #669933;
$success-color-light: #97b875;

/*Primary*/
$primary-color-dark: #5a9381;
$primary-color: #68a391;

/*Secondary*/
$secondary-color-dark: #aa3939;
$secondary-color: #cc8181;

$green-color-cards: #68a391;
$purple-color-cards: #7d75ab;
$yellow-color-cards: #f7e49d;
$orange-color-cards: #f7bd9d;
