/* Color variables */
/* Error */
$error-color-darkest: #650000;
$error-color-dark: #870505;
$error-color: #AA3939;
$error-color-light: #CC8181;

/* Success */
$success-color-darkest: #2E5B00;
$success-color-dark: #407A04;
$success-color: #669933;
$success-color-light: #97B875;

/*Primary*/
$primary-color-darkest: #5F6C81;
$primary-color-dark: #8FA2C1;
$primary-color: #AEC5EB;
$primary-color-light: #BCCFEE;