.aboutPageWrapper {
  width: 60%;
  margin: auto;
}
.headWrapper {
  h1 {
    text-align: center;
  }

  margin: auto;
}
.contentWrapper,
.nameWrapper {
  margin: 32px 0px;
}

a {
  color: #7d75ab;
}

@media only screen and (max-width: 600px) {
  .aboutPageWrapper {
    width: 80%;
  }
}
