.aboutPageWrapper {
  width: 60%;
  margin: auto;
}
.headWrapper {
  h1 {
    text-align: center;
  }
  a {
    color: #7d75ab;
  }
  margin: auto;
}
.contentWrapper,
.nameWrapper {
  margin: 32px 0px;
}

@media only screen and (max-width: 600px) {
  .aboutPageWrapper {
    width: 80%;
  }
}
