@import "../../../globals/variables";

.deleteWrapper {
  position: relative;
  display: inline-block;
  margin: 0px 0px 40px 0px;
}
.Confirm {
  position: absolute;
  top: -20px;
  left: 160px;
}
@media screen and (max-width: 600px) {
  .Confirm {
    top: 60px;
    left: 0px;
  }
}
