.SnakeChunk {
  display: inline-block;
  border: 1px solid #111;
  box-shadow: 1px 1px #ccc;
  padding: 8px;
  margin: 8px;
  overflow: hidden;
}

.SnakeChunk:hover {
  box-shadow: 4px 4px orange;
}

.Body {
  background-color: lightgrey;
}
.Body:hover {
  box-shadow:  orange;

}

.Head {
  background-color: lightgoldenrodyellow;
}
.Head:hover {
  background-color: orangered
}

.Tail {
  background-color:  lightgoldenrodyellow;
}
.Tail:hover {
  background-color:orangered;
}
