@import "../../../globals/variables";

.Button {
  margin: 10px 0px;
  font-size: 1rem;
  color: black;
  padding: 10px 40px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-dark;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
