@import "../../globals/variables.scss";

#header {
  height: 80px;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: drop;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0.7, 0.9, 1);
}

@keyframes drop {
  0% {
    transform: translateY(-10rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

.logoImage {
  margin-right: 15px;
  height: 55px;
  width: 55px;
  background: url("../../assets/Snake.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    animation-name: pivot;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    cursor: pointer;
  }
}

@keyframes pivot {
  40% {
    transform: scale(0.95, 1.05);
    filter: saturate(120%);
  }

  100% {
    transform: scale(1, 1);
  }
}

.headerItemsWrapper {
  color: black;
  padding: 15px 20px;
  display: flex;
  align-items: center;

  .appName {
    font-size: 1.4rem;
  }
}

.userName {
  color: black;
  font-size: 1rem;
  background: #eee;
  // border: 2px solid black;
  border-radius: 8px;
  padding: 10px 15px;
}

.headerItem {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:first-child {
    padding-right: 10px;
  }

  .ctaButton {
    font-size: 1rem;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #eee;
    // border: 2px solid black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      cursor: pointer;
      background-color: #aaa;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.aboutLink {
  margin-left: 16px;
  padding: 8px;
  font-size: 1.2rem;
  border: 1px solid #eee;
  border-radius: 8px;
}
a {
  color: #444;
}
@media only screen and (max-width: 600px) {
  .appName {
    display: none;
  }

  .logoImage {
    margin: 0;
  }

  .userName {
    display: block;
    font-size: 0px;
    background: none;
    border: none;
    padding: 0;
    width: 45px;
  }

  .userName::first-letter {
    font-size: 1rem;
    background: #eee;
    // border: 2px solid black;
    border-radius: 8px;
    padding: 10px 15px;
  }
}
