#header{
  height: 10%;
  width: 100%;
  display: block;
  position: absolute;
}

.headerItemsWrapper{
  float: right;
}

.headerItem{
  display: inline-block;
  padding: 15px 20px 15px 20px;
}

#username{
  color: grey;
}

#logout{
  color: black;
}
