@import '../../globals/variables.scss';

#header {
  height: 80px;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  margin-right: 15px;
  height: 55px;
  width: 55px;
  background: url('../../assets/Snake.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}


.headerItemsWrapper {
  color: black;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  p {
    font-size: 1.4rem;
  }
}

.headerItem {
  padding-left: 15px;
  a, span {
    font-size: 1rem;
    color: black;
    padding: 15px 30px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-dark;
      cursor: pointer;
    }
  }
}

#logout {
  color: black;
}