.wrapper {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input {
  height: 2rem !important;
  margin: auto !important;
}

.inputWrapper {
  margin: 5px;
}
