.Snake {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-gap: 10px;
  margin: auto;
  cursor: default;
}

.Container {
  width: 50%;
  margin: auto;
  margin-bottom: 32px;
}
.Log {
  margin-top: 8px;
}

.DeleteButton {
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  .Snake,
  .Container {
    width: 80%;
    text-align: center;
  }
}

.LogLoader {
  height: 21px;
  margin: 10px;
  animation: pulse 1s infinite ease-in-out;
  width: 200px;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
