.Snake {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-gap: 10px;
  margin: auto;
  cursor: default;
}

.Container {
  width: 50%;
  margin: auto;
  margin-bottom: 32px;
}
.Log {
  margin-top: 32px;
}

.DeleteButton {
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  .Snake,
  .Container {
    width: 80%;
    text-align: center;
  }
}
