@import "../basePages/Form/form";
@import "../../../src/globals/variables";

.signupForm {
  width: 500px;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;

  .navDiv {
    display: flex;
    align-items: center;
    padding-top: 10px;

    p {
      margin: 0;
      padding-right: 10px;
    }
  }

  a {
    color: $purple-color-cards;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }

  h4 {
    padding-bottom: 10px;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    border-bottom: 2px solid rgba(62, 97, 87, 0.3);

    &:focus:not([readonly]) {
      border-bottom: 2px solid rgba(62, 97, 87, 0.6);
      box-shadow: none;
    }

    &::placeholder {
      color: grey;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .signupForm {
    width: 90%;
  }
}
